@{
  Layout = "_Layout";
}

@using System.Security.Claims




@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>

    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
    <p>@Html.ActionLink("Flavor List", "Index", "Flavors")</p>
    <p>@Html.ActionLink("Add Flavor", "Create", "Flavors")</p>

    <p>@Html.ActionLink("Treat List", "Index", "Treats")</p>
    <p>@Html.ActionLink("Add Treat", "Create", "Treats")</p>
}
else
{

    <p>@Html.ActionLink("Register", "RegisterViewModel")</p>
    <p>@Html.ActionLink("Log in", "Index")</p>


}
