@{
  Layout = "_Layout";
}

@model Shop.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>Treat Name: @Html.DisplayFor(model => model.TreatName)</h3>


{
  <h4>Includes these flavors: </h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Flavor.FlavorName</li>
  }
  </ul>
}

<p> @Html.ActionLink("Treat list", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new {id= Model.TreatId})</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id =Model.TreatId })</p>